<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.ClubMappingMapper">
    <resultMap type="com.ninehcom.transfer.entity.ClubMapping" id="clubMappingMap">
        <id column="team_id" property="teamId"/>
        <result column="club_id" property="clubId"/>
    </resultMap>
    <select id="selectAllClubMapping" resultMap="clubMappingMap">
        	SELECT
        	*
        	FROM
        	club_mapping
    </select>
    <select id="selectClubMappingById" resultMap="clubMappingMap">
        	SELECT
        	*
        	FROM
        	club_mapping
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertClubMapping" parameterType="clubMapping">
        	INSERT INTO
        	club_mapping
        	(
        	club_mapping.team_id , club_mapping.club_id
        	)
        	VALUES
        	(
        	#{ teamId } , #{ clubId }
        	)
    </insert>
    <update id="updateClubMapping" parameterType="clubMapping">
        	UPDATE
        	club_mapping
        	SET
        	<if test="clubId != null">
        	club_mapping.ClubId = #{ clubId }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteClubMappingById">
        	DELETE FROM
        	club_mapping
        	WHERE
        	id=#{0}
    </delete>
</mapper>

