<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.ClubPlayerReClubMapper">
    <resultMap type="com.ninehcom.transfer.entity.ClubPlayerReClub" id="clubPlayerReClubMap">
        <id column="id" property="id"/>
        <result column="cir_avatar" property="cirAvatar"/>
        <result column="full_avatar" property="fullAvatar"/>
        <result column="info_avatar" property="infoAvatar"/>
    </resultMap>
    <select id="selectAllClubPlayerReClub" resultMap="clubPlayerReClubMap">
        	SELECT
        	*
        	FROM
        	club_player_re_club
    </select>
    <select id="selectClubPlayerReClubById" resultMap="clubPlayerReClubMap">
        	SELECT
        	*
        	FROM
        	club_player_re_club
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertClubPlayerReClub" parameterType="clubPlayerReClub">
        	INSERT INTO
        	club_player_re_club
        	(
        	club_player_re_club.id , club_player_re_club.cir_avatar , club_player_re_club.full_avatar , club_player_re_club.info_avatar
        	)
        	VALUES
        	(
        	#{ id } , #{ cirAvatar } , #{ fullAvatar } , #{ infoAvatar }
        	)
    </insert>
    <update id="updateClubPlayerReClub" parameterType="clubPlayerReClub">
        	UPDATE
        	club_player_re_club
        	SET
        	<if test="cirAvatar != null">
        	club_player_re_club.CirAvatar = #{ cirAvatar },
        	</if>	<if test="fullAvatar != null">
        	club_player_re_club.FullAvatar = #{ fullAvatar },
        	</if>	<if test="infoAvatar != null">
        	club_player_re_club.InfoAvatar = #{ infoAvatar }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteClubPlayerReClubById">
        	DELETE FROM
        	club_player_re_club
        	WHERE
        	id=#{0}
    </delete>
</mapper>

