<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.ClubTypeMapper">
    <resultMap type="com.ninehcom.transfer.entity.ClubType" id="clubTypeMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
    <select id="selectAllClubType" resultMap="clubTypeMap">
        	SELECT
        	*
        	FROM
        	club_type
    </select>
    <select id="selectClubTypeById" resultMap="clubTypeMap">
        	SELECT
        	*
        	FROM
        	club_type
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertClubType" parameterType="clubType">
        	INSERT INTO
        	club_type
        	(
        	club_type.id , club_type.name
        	)
        	VALUES
        	(
        	#{ id } , #{ name }
        	)
    </insert>
    <update id="updateClubType" parameterType="clubType">
        	UPDATE
        	club_type
        	SET
        	<if test="name != null">
        	club_type.Name = #{ name }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteClubTypeById">
        	DELETE FROM
        	club_type
        	WHERE
        	id=#{0}
    </delete>
</mapper>

