<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.CoachMapper">
    <resultMap type="com.ninehcom.transfer.entity.Coach" id="coachMap">
        <id column="Id" property="id"/>
        <result column="Name" property="name"/>
        <result column="Birthday" property="birthday"/>
        <result column="Nationality" property="nationality"/>
        <result column="Birthplace" property="birthplace"/>
        <result column="CreateTime" property="createTime"/>
        <result column="UpdateTime" property="updateTime"/>
    </resultMap>
    <select id="selectAllCoach" resultMap="coachMap">
        	SELECT
        	*
        	FROM
        	coach
    </select>
    <select id="selectCoachById" resultMap="coachMap">
        	SELECT
        	*
        	FROM
        	coach
        	WHERE
        	ID=#{0}
    </select>
</mapper>

