<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.CoachMappingMapper">
    <resultMap type="com.ninehcom.transfer.entity.CoachMapping" id="coachMappingMap">
        <id column="club_coach_id" property="clubCoachId"/>
        <result column="data_coach_id" property="dataCoachId"/>
    </resultMap>
    <select id="selectAllCoachMapping" resultMap="coachMappingMap">
        SELECT
        *
        FROM
        coach_mapping
    </select>
    <select id="selectCoachMappingById" resultMap="coachMappingMap">
        SELECT
        *
        FROM
        coach_mapping
        WHERE
        club_coach_id=#{0}
    </select>
    <insert id="insertCoachMapping" parameterType="coachMapping">
        INSERT INTO
        coach_mapping
        (
        coach_mapping.club_coach_id , coach_mapping.data_coach_id
        )
        VALUES
        (
        #{ clubCoachId } , #{ dataCoachId }
        )
    </insert>
    <update id="updateCoachMapping" parameterType="coachMapping">
        UPDATE
        coach_mapping
        SET
        <if test="dataCoachId != null">
            coach_mapping.DataCoachId = #{ dataCoachId }
        </if>
        WHERE
        id= #{id}
    </update>
    <delete id="deleteCoachMappingById">
        DELETE FROM
        coach_mapping
        WHERE
        id=#{0}
    </delete>
</mapper>

