<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.CoachresumeMapper">
    <resultMap type="com.ninehcom.transfer.entity.Coachresume" id="coachresumeMap">
        <id column="Id" property="id"/>
        <result column="SeasonType" property="seasonType"/>
        <result column="StartYear" property="startYear"/>
        <result column="EndYear" property="endYear"/>
        <result column="CoachId" property="coachId"/>
        <result column="CoachName" property="coachName"/>
        <result column="LeagueName" property="leagueName"/>
        <result column="TeamName" property="teamName"/>
        <result column="Honors" property="honors"/>
        <result column="CreateTime" property="createTime"/>
        <result column="UpdateTime" property="updateTime"/>
    </resultMap>
    <select id="selectAllCoachresume" resultMap="coachresumeMap">
        	SELECT
        	*
        	FROM
        	coachresume
    </select>
    <select id="selectCoachresumeById" resultMap="coachresumeMap">
        	SELECT
        	*
        	FROM
        	coachresume
        	WHERE
        	ID=#{0}
    </select>
</mapper>

