<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataLeagueRankPeaceMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataLeagueRankPeace" id="dataLeagueRankPeaceMap">
        <id column="id" property="id"/>
        <result column="league_id" property="leagueId"/>
        <result column="club_id" property="clubId"/>
        <result column="club_history_id" property="clubHistoryId"/>
        <result column="points" property="points"/>
        <result column="dock_of_cards" property="dockOfCards"/>
        <result column="dock_of_fouls" property="dockOfFouls"/>
        <result column="dock_of_sum" property="dockOfSum"/>
        <result column="red_cards" property="redCards"/>
        <result column="year" property="year"/>
        <result column="end_year" property="endYear"/>
        <result column="fouls" property="fouls"/>
        <result column="yellow_cards" property="yellowCards"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="selectAllDataLeagueRankPeace" resultMap="dataLeagueRankPeaceMap">
        	SELECT
        	*
        	FROM
        	data_league_rank_peace
    </select>
    <select id="selectDataLeagueRankPeaceById" resultMap="dataLeagueRankPeaceMap">
        	SELECT
        	*
        	FROM
        	data_league_rank_peace
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertDataLeagueRankPeace" parameterType="dataLeagueRankPeace">
        	INSERT INTO
        	data_league_rank_peace
        	(
        	data_league_rank_peace.id , data_league_rank_peace.league_id , data_league_rank_peace.club_id , data_league_rank_peace.club_history_id , data_league_rank_peace.points , data_league_rank_peace.dock_of_cards , data_league_rank_peace.dock_of_fouls , data_league_rank_peace.dock_of_sum , data_league_rank_peace.red_cards , data_league_rank_peace.year , data_league_rank_peace.end_year , data_league_rank_peace.fouls , data_league_rank_peace.yellow_cards , data_league_rank_peace.created_at , data_league_rank_peace.updated_at
        	)
        	VALUES
        	(
        	#{ id } , #{ leagueId } , #{ clubId } , #{ clubHistoryId } , #{ points } , #{ dockOfCards } , #{ dockOfFouls } , #{ dockOfSum } , #{ redCards } , #{ year } , #{ endYear } , #{ fouls } , #{ yellowCards } , #{ createdAt } , #{ updatedAt }
        	)
    </insert>
    <update id="updateDataLeagueRankPeace" parameterType="dataLeagueRankPeace">
        	UPDATE
        	data_league_rank_peace
        	SET
        	<if test="leagueId != null">
        	data_league_rank_peace.LeagueId = #{ leagueId },
        	</if>	<if test="clubId != null">
        	data_league_rank_peace.ClubId = #{ clubId },
        	</if>	<if test="clubHistoryId != null">
        	data_league_rank_peace.ClubHistoryId = #{ clubHistoryId },
        	</if>	<if test="points != null">
        	data_league_rank_peace.Points = #{ points },
        	</if>	<if test="dockOfCards != null">
        	data_league_rank_peace.DockOfCards = #{ dockOfCards },
        	</if>	<if test="dockOfFouls != null">
        	data_league_rank_peace.DockOfFouls = #{ dockOfFouls },
        	</if>	<if test="dockOfSum != null">
        	data_league_rank_peace.DockOfSum = #{ dockOfSum },
        	</if>	<if test="redCards != null">
        	data_league_rank_peace.RedCards = #{ redCards },
        	</if>	<if test="year != null">
        	data_league_rank_peace.Year = #{ year },
        	</if>	<if test="endYear != null">
        	data_league_rank_peace.EndYear = #{ endYear },
        	</if>	<if test="fouls != null">
        	data_league_rank_peace.Fouls = #{ fouls },
        	</if>	<if test="yellowCards != null">
        	data_league_rank_peace.YellowCards = #{ yellowCards },
        	</if>	<if test="createdAt != null">
        	data_league_rank_peace.CreatedAt = #{ createdAt },
        	</if>	<if test="updatedAt != null">
        	data_league_rank_peace.UpdatedAt = #{ updatedAt }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteDataLeagueRankPeaceById">
        	DELETE FROM
        	data_league_rank_peace
        	WHERE
        	id=#{0}
    </delete>
</mapper>

