<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataLeagueMatchBroadcastMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataLeagueMatchBroadcast" id="dataLeagueMatchBroadcastMap">
        <id column="id" property="id"/>
        <result column="match_id" property="matchId"/>
        <result column="cast_name" property="castName"/>
        <result column="cast_url" property="castUrl"/>
        <result column="cast_logo" property="castLogo"/>
        <result column="play_times" property="playTimes"/>
        <result column="display_order" property="displayOrder"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="selectAllDataLeagueMatchBroadcast" resultMap="dataLeagueMatchBroadcastMap">
        	SELECT
        	*
        	FROM
        	data_league_match_broadcast
    </select>
    <select id="selectDataLeagueMatchBroadcastById" resultMap="dataLeagueMatchBroadcastMap">
        	SELECT
        	*
        	FROM
        	data_league_match_broadcast
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertDataLeagueMatchBroadcast" parameterType="dataLeagueMatchBroadcast">
        	INSERT INTO
        	data_league_match_broadcast
        	(
        	data_league_match_broadcast.id , data_league_match_broadcast.match_id , data_league_match_broadcast.cast_name , data_league_match_broadcast.cast_url , data_league_match_broadcast.cast_logo , data_league_match_broadcast.play_times , data_league_match_broadcast.display_order , data_league_match_broadcast.created_at , data_league_match_broadcast.updated_at
        	)
        	VALUES
        	(
        	#{ id } , #{ matchId } , #{ castName } , #{ castUrl } , #{ castLogo } , #{ playTimes } , #{ displayOrder } , #{ createdAt } , #{ updatedAt }
        	)
    </insert>
    <update id="updateDataLeagueMatchBroadcast" parameterType="dataLeagueMatchBroadcast">
        	UPDATE
        	data_league_match_broadcast
        	SET
        	<if test="matchId != null">
        	data_league_match_broadcast.MatchId = #{ matchId },
        	</if>	<if test="castName != null">
        	data_league_match_broadcast.CastName = #{ castName },
        	</if>	<if test="castUrl != null">
        	data_league_match_broadcast.CastUrl = #{ castUrl },
        	</if>	<if test="castLogo != null">
        	data_league_match_broadcast.CastLogo = #{ castLogo },
        	</if>	<if test="playTimes != null">
        	data_league_match_broadcast.PlayTimes = #{ playTimes },
        	</if>	<if test="displayOrder != null">
        	data_league_match_broadcast.DisplayOrder = #{ displayOrder },
        	</if>	<if test="createdAt != null">
        	data_league_match_broadcast.CreatedAt = #{ createdAt },
        	</if>	<if test="updatedAt != null">
        	data_league_match_broadcast.UpdatedAt = #{ updatedAt }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteDataLeagueMatchBroadcastById">
        	DELETE FROM
        	data_league_match_broadcast
        	WHERE
        	id=#{0}
    </delete>
</mapper>

