<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataClubMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataClub" id="dataClubMap">
        <id column="id" property="id"/>
        <result column="bg_image" property="bgImage"/>
        <result column="bg_player_image" property="bgPlayerImage"/>
        <result column="data_color" property="dataColor"/>
        <result column="name" property="name"/>
        <result column="intro_url" property="introUrl"/>
        <result column="founded_at" property="foundedAt"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="selectAllDataClub" resultMap="dataClubMap">
        SELECT
        *
        FROM
        data_club
    </select>
    <select id="selectMaxId" resultType="int">
        SELECT
        MAX(id)
        FROM
        data_club
    </select>
    <select id="selectDataClubById" resultMap="dataClubMap">
        SELECT
        *
        FROM
        data_club
        WHERE
        ID=#{0}
    </select>
    <insert id="insertDataClub" parameterType="dataClub">
        INSERT INTO
        data_club
        (
        data_club.id , data_club.bg_image , data_club.bg_player_image , data_club.data_color , data_club.name , data_club.intro_url , data_club.founded_at , data_club.created_at , data_club.updated_at
        )
        VALUES
        (
        #{ id } , #{ bgImage } , #{ bgPlayerImage } , #{ dataColor } , #{ name } , #{ introUrl } , #{ foundedAt } , #{ createdAt } , #{ updatedAt }
        )
    </insert>
    <update id="updateDataClub" parameterType="dataClub">
        UPDATE
        data_club
        SET
        <if test="bgImage != null">
            data_club.BgImage = #{ bgImage },
        </if>	
        <if test="bgPlayerImage != null">
            data_club.BgPlayerImage = #{ bgPlayerImage },
        </if>	
        <if test="dataColor != null">
            data_club.DataColor = #{ dataColor },
        </if>	
        <if test="name != null">
            data_club.Name = #{ name },
        </if>	
        <if test="introUrl != null">
            data_club.IntroUrl = #{ introUrl },
        </if>	
        <if test="foundedAt != null">
            data_club.FoundedAt = #{ foundedAt },
        </if>	
        <if test="createdAt != null">
            data_club.CreatedAt = #{ createdAt },
        </if>	
        <if test="updatedAt != null">
            data_club.UpdatedAt = #{ updatedAt }
        </if>
        WHERE
        id= #{id}
    </update>
    <delete id="deleteDataClubById">
        DELETE FROM
        data_club
        WHERE
        id=#{0}
    </delete>
</mapper>

