<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataJudgeMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataJudge" id="dataJudgeMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="name_initials" property="nameInitials"/>
        <result column="nationality" property="nationality"/>
        <result column="native_place" property="nativePlace"/>
        <result column="region" property="region"/>
        <result column="region_code" property="regionCode"/>
        <result column="birth" property="birth"/>
        <result column="level" property="level"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="selectAllDataJudge" resultMap="dataJudgeMap">
        	SELECT
        	*
        	FROM
        	data_judge
    </select>
    <select id="selectDataJudgeById" resultMap="dataJudgeMap">
        	SELECT
        	*
        	FROM
        	data_judge
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertDataJudge" parameterType="dataJudge">
        	INSERT INTO
        	data_judge
        	(
        	data_judge.id , data_judge.name , data_judge.name_initials , data_judge.nationality , data_judge.native_place , data_judge.region , data_judge.region_code , data_judge.birth , data_judge.level , data_judge.created_at , data_judge.updated_at
        	)
        	VALUES
        	(
        	#{ id } , #{ name } , #{ nameInitials } , #{ nationality } , #{ nativePlace } , #{ region } , #{ regionCode } , #{ birth } , #{ level } , #{ createdAt } , #{ updatedAt }
        	)
    </insert>
    <update id="updateDataJudge" parameterType="dataJudge">
        	UPDATE
        	data_judge
        	SET
        	<if test="name != null">
        	data_judge.Name = #{ name },
        	</if>	<if test="nameInitials != null">
        	data_judge.NameInitials = #{ nameInitials },
        	</if>	<if test="nationality != null">
        	data_judge.Nationality = #{ nationality },
        	</if>	<if test="nativePlace != null">
        	data_judge.NativePlace = #{ nativePlace },
        	</if>	<if test="region != null">
        	data_judge.Region = #{ region },
        	</if>	<if test="regionCode != null">
        	data_judge.RegionCode = #{ regionCode },
        	</if>	<if test="birth != null">
        	data_judge.Birth = #{ birth },
        	</if>	<if test="level != null">
        	data_judge.Level = #{ level },
        	</if>	<if test="createdAt != null">
        	data_judge.CreatedAt = #{ createdAt },
        	</if>	<if test="updatedAt != null">
        	data_judge.UpdatedAt = #{ updatedAt }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteDataJudgeById">
        	DELETE FROM
        	data_judge
        	WHERE
        	id=#{0}
    </delete>
</mapper>

