<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataLeagueRankCardMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataLeagueRankCard" id="dataLeagueRankCardMap">
        <id column="id" property="id"/>
        <result column="league_id" property="leagueId"/>
        <result column="club_id" property="clubId"/>
        <result column="club_history_id" property="clubHistoryId"/>
        <result column="red_cards" property="redCards"/>
        <result column="yellow_cards" property="yellowCards"/>
        <result column="double_y_cards" property="doubleYCards"/>
        <result column="ranking" property="ranking"/>
        <result column="year" property="year"/>
        <result column="end_year" property="endYear"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="selectAllDataLeagueRankCard" resultMap="dataLeagueRankCardMap">
        	SELECT
        	*
        	FROM
        	data_league_rank_card
    </select>
    <select id="selectDataLeagueRankCardById" resultMap="dataLeagueRankCardMap">
        	SELECT
        	*
        	FROM
        	data_league_rank_card
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertDataLeagueRankCard" parameterType="dataLeagueRankCard">
        	INSERT INTO
        	data_league_rank_card
        	(
        	data_league_rank_card.id , data_league_rank_card.league_id , data_league_rank_card.club_id , data_league_rank_card.club_history_id , data_league_rank_card.red_cards , data_league_rank_card.yellow_cards , data_league_rank_card.double_y_cards , data_league_rank_card.ranking , data_league_rank_card.year , data_league_rank_card.end_year , data_league_rank_card.created_at , data_league_rank_card.updated_at
        	)
        	VALUES
        	(
        	#{ id } , #{ leagueId } , #{ clubId } , #{ clubHistoryId } , #{ redCards } , #{ yellowCards } , #{ doubleYCards } , #{ ranking } , #{ year } , #{ endYear } , #{ createdAt } , #{ updatedAt }
        	)
    </insert>
    <update id="updateDataLeagueRankCard" parameterType="dataLeagueRankCard">
        	UPDATE
        	data_league_rank_card
        	SET
        	<if test="leagueId != null">
        	data_league_rank_card.LeagueId = #{ leagueId },
        	</if>	<if test="clubId != null">
        	data_league_rank_card.ClubId = #{ clubId },
        	</if>	<if test="clubHistoryId != null">
        	data_league_rank_card.ClubHistoryId = #{ clubHistoryId },
        	</if>	<if test="redCards != null">
        	data_league_rank_card.RedCards = #{ redCards },
        	</if>	<if test="yellowCards != null">
        	data_league_rank_card.YellowCards = #{ yellowCards },
        	</if>	<if test="doubleYCards != null">
        	data_league_rank_card.DoubleYCards = #{ doubleYCards },
        	</if>	<if test="ranking != null">
        	data_league_rank_card.Ranking = #{ ranking },
        	</if>	<if test="year != null">
        	data_league_rank_card.Year = #{ year },
        	</if>	<if test="endYear != null">
        	data_league_rank_card.EndYear = #{ endYear },
        	</if>	<if test="createdAt != null">
        	data_league_rank_card.CreatedAt = #{ createdAt },
        	</if>	<if test="updatedAt != null">
        	data_league_rank_card.UpdatedAt = #{ updatedAt }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteDataLeagueRankCardById">
        	DELETE FROM
        	data_league_rank_card
        	WHERE
        	id=#{0}
    </delete>
</mapper>

