<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataMatchEventMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataMatchEvent" id="dataMatchEventMap">
        <id column="id" property="id"/>
        <result column="match_id" property="matchId"/>
        <result column="club_type" property="clubType"/>
        <result column="club_id" property="clubId"/>
        <result column="event_type" property="eventType"/>
        <result column="event_data" property="eventData"/>
        <result column="event_point" property="eventPoint"/>
        <result column="event_at" property="eventAt"/>
        <result column="player_id" property="playerId"/>
        <result column="player_secondary_id" property="playerSecondaryId"/>
        <result column="player_name" property="playerName"/>
        <result column="player_secondary_name" property="playerSecondaryName"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="selectAllDataMatchEvent" resultMap="dataMatchEventMap">
        	SELECT
        	*
        	FROM
        	data_match_event
    </select>
    <select id="selectDataMatchEventById" resultMap="dataMatchEventMap">
        	SELECT
        	*
        	FROM
        	data_match_event
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertDataMatchEvent" parameterType="dataMatchEvent">
        	INSERT INTO
        	data_match_event
        	(
        	data_match_event.id , data_match_event.match_id , data_match_event.club_type , data_match_event.club_id , data_match_event.event_type , data_match_event.event_data , data_match_event.event_point , data_match_event.event_at , data_match_event.player_id , data_match_event.player_secondary_id , data_match_event.player_name , data_match_event.player_secondary_name , data_match_event.created_at , data_match_event.updated_at
        	)
        	VALUES
        	(
        	#{ id } , #{ matchId } , #{ clubType } , #{ clubId } , #{ eventType } , #{ eventData } , #{ eventPoint } , #{ eventAt } , #{ playerId } , #{ playerSecondaryId } , #{ playerName } , #{ playerSecondaryName } , #{ createdAt } , #{ updatedAt }
        	)
    </insert>
    <update id="updateDataMatchEvent" parameterType="dataMatchEvent">
        	UPDATE
        	data_match_event
        	SET
        	<if test="matchId != null">
        	data_match_event.MatchId = #{ matchId },
        	</if>	<if test="clubType != null">
        	data_match_event.ClubType = #{ clubType },
        	</if>	<if test="clubId != null">
        	data_match_event.ClubId = #{ clubId },
        	</if>	<if test="eventType != null">
        	data_match_event.EventType = #{ eventType },
        	</if>	<if test="eventData != null">
        	data_match_event.EventData = #{ eventData },
        	</if>	<if test="eventPoint != null">
        	data_match_event.EventPoint = #{ eventPoint },
        	</if>	<if test="eventAt != null">
        	data_match_event.EventAt = #{ eventAt },
        	</if>	<if test="playerId != null">
        	data_match_event.PlayerId = #{ playerId },
        	</if>	<if test="playerSecondaryId != null">
        	data_match_event.PlayerSecondaryId = #{ playerSecondaryId },
        	</if>	<if test="playerName != null">
        	data_match_event.PlayerName = #{ playerName },
        	</if>	<if test="playerSecondaryName != null">
        	data_match_event.PlayerSecondaryName = #{ playerSecondaryName },
        	</if>	<if test="createdAt != null">
        	data_match_event.CreatedAt = #{ createdAt },
        	</if>	<if test="updatedAt != null">
        	data_match_event.UpdatedAt = #{ updatedAt }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteDataMatchEventById">
        	DELETE FROM
        	data_match_event
        	WHERE
        	id=#{0}
    </delete>
</mapper>

