<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataLeagueMatchMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataLeagueMatch" id="dataLeagueMatchMap">
        <id column="id" property="id"/>
        <result column="kick_at" property="kickAt"/>
        <result column="home_score" property="homeScore"/>
        <result column="guest_score" property="guestScore"/>
        <result column="home_club_id" property="homeClubId"/>
        <result column="home_club_history_id" property="homeClubHistoryId"/>
        <result column="guest_club_id" property="guestClubId"/>
        <result column="guest_club_history_id" property="guestClubHistoryId"/>
        <result column="round" property="round"/>
        <result column="knockout" property="knockout"/>
        <result column="weekday" property="weekday"/>
        <result column="stadium" property="stadium"/>
        <result column="league_id" property="leagueId"/>
        <result column="league_sub_id" property="leagueSubId"/>
        <result column="audiences" property="audiences"/>
        <result column="relative_tag" property="relativeTag"/>
        <result column="video_url" property="videoUrl"/>
        <result column="year" property="year"/>
        <result column="match_status" property="matchStatus"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="selectAllDataLeagueMatch" resultMap="dataLeagueMatchMap">
        	SELECT
        	*
        	FROM
        	data_league_match
    </select>
    <select id="selectDataLeagueMatchById" resultMap="dataLeagueMatchMap">
        	SELECT
        	*
        	FROM
        	data_league_match
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertDataLeagueMatch" parameterType="dataLeagueMatch">
        	INSERT INTO
        	data_league_match
        	(
        	data_league_match.id , data_league_match.kick_at , data_league_match.home_score , data_league_match.guest_score , data_league_match.home_club_id , data_league_match.home_club_history_id , data_league_match.guest_club_id , data_league_match.guest_club_history_id , data_league_match.round , data_league_match.knockout , data_league_match.weekday , data_league_match.stadium , data_league_match.league_id , data_league_match.league_sub_id , data_league_match.audiences , data_league_match.relative_tag , data_league_match.video_url , data_league_match.year , data_league_match.match_status , data_league_match.created_at , data_league_match.updated_at
        	)
        	VALUES
        	(
        	#{ id } , #{ kickAt } , #{ homeScore } , #{ guestScore } , #{ homeClubId } , #{ homeClubHistoryId } , #{ guestClubId } , #{ guestClubHistoryId } , #{ round } , #{ knockout } , #{ weekday } , #{ stadium } , #{ leagueId } , #{ leagueSubId } , #{ audiences } , #{ relativeTag } , #{ videoUrl } , #{ year } , #{ matchStatus } , #{ createdAt } , #{ updatedAt }
        	)
    </insert>
    <update id="updateDataLeagueMatch" parameterType="dataLeagueMatch">
        	UPDATE
        	data_league_match
        	SET
        	<if test="kickAt != null">
        	data_league_match.KickAt = #{ kickAt },
        	</if>	<if test="homeScore != null">
        	data_league_match.HomeScore = #{ homeScore },
        	</if>	<if test="guestScore != null">
        	data_league_match.GuestScore = #{ guestScore },
        	</if>	<if test="homeClubId != null">
        	data_league_match.HomeClubId = #{ homeClubId },
        	</if>	<if test="homeClubHistoryId != null">
        	data_league_match.HomeClubHistoryId = #{ homeClubHistoryId },
        	</if>	<if test="guestClubId != null">
        	data_league_match.GuestClubId = #{ guestClubId },
        	</if>	<if test="guestClubHistoryId != null">
        	data_league_match.GuestClubHistoryId = #{ guestClubHistoryId },
        	</if>	<if test="round != null">
        	data_league_match.Round = #{ round },
        	</if>	<if test="knockout != null">
        	data_league_match.Knockout = #{ knockout },
        	</if>	<if test="weekday != null">
        	data_league_match.Weekday = #{ weekday },
        	</if>	<if test="stadium != null">
        	data_league_match.Stadium = #{ stadium },
        	</if>	<if test="leagueId != null">
        	data_league_match.LeagueId = #{ leagueId },
        	</if>	<if test="leagueSubId != null">
        	data_league_match.LeagueSubId = #{ leagueSubId },
        	</if>	<if test="audiences != null">
        	data_league_match.Audiences = #{ audiences },
        	</if>	<if test="relativeTag != null">
        	data_league_match.RelativeTag = #{ relativeTag },
        	</if>	<if test="videoUrl != null">
        	data_league_match.VideoUrl = #{ videoUrl },
        	</if>	<if test="year != null">
        	data_league_match.Year = #{ year },
        	</if>	<if test="matchStatus != null">
        	data_league_match.MatchStatus = #{ matchStatus },
        	</if>	<if test="createdAt != null">
        	data_league_match.CreatedAt = #{ createdAt },
        	</if>	<if test="updatedAt != null">
        	data_league_match.UpdatedAt = #{ updatedAt }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteDataLeagueMatchById">
        	DELETE FROM
        	data_league_match
        	WHERE
        	id=#{0}
    </delete>
</mapper>

