<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataMatchIdMappedMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataMatchIdMapped" id="dataMatchIdMappedMap">
        <id column="id" property="id"/>
        <result column="match_id" property="matchId"/>
        <result column="amisco_match_id" property="amiscoMatchId"/>
        <result column="year" property="year"/>
    </resultMap>
    <select id="selectAllDataMatchIdMapped" resultMap="dataMatchIdMappedMap">
        	SELECT
        	*
        	FROM
        	data_match_id_mapped
    </select>
    <select id="selectDataMatchIdMappedById" resultMap="dataMatchIdMappedMap">
        	SELECT
        	*
        	FROM
        	data_match_id_mapped
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertDataMatchIdMapped" parameterType="dataMatchIdMapped">
        	INSERT INTO
        	data_match_id_mapped
        	(
        	data_match_id_mapped.id , data_match_id_mapped.match_id , data_match_id_mapped.amisco_match_id , data_match_id_mapped.year
        	)
        	VALUES
        	(
        	#{ id } , #{ matchId } , #{ amiscoMatchId } , #{ year }
        	)
    </insert>
    <update id="updateDataMatchIdMapped" parameterType="dataMatchIdMapped">
        	UPDATE
        	data_match_id_mapped
        	SET
        	<if test="matchId != null">
        	data_match_id_mapped.MatchId = #{ matchId },
        	</if>	<if test="amiscoMatchId != null">
        	data_match_id_mapped.AmiscoMatchId = #{ amiscoMatchId },
        	</if>	<if test="year != null">
        	data_match_id_mapped.Year = #{ year }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteDataMatchIdMappedById">
        	DELETE FROM
        	data_match_id_mapped
        	WHERE
        	id=#{0}
    </delete>
</mapper>

