<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataLeagueRankClubGuestMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataLeagueRankClubGuest" id="dataLeagueRankClubGuestMap">
        <id column="id" property="id"/>
        <result column="league_id" property="leagueId"/>
        <result column="league_sub_id" property="leagueSubId"/>
        <result column="club_id" property="clubId"/>
        <result column="club_history_id" property="clubHistoryId"/>
        <result column="round" property="round"/>
        <result column="wins" property="wins"/>
        <result column="ties" property="ties"/>
        <result column="loses" property="loses"/>
        <result column="goals" property="goals"/>
        <result column="goals_a" property="goalsA"/>
        <result column="goals_d" property="goalsD"/>
        <result column="points" property="points"/>
        <result column="year" property="year"/>
        <result column="end_year" property="endYear"/>
        <result column="display_order" property="displayOrder"/>
        <result column="ranking_status" property="rankingStatus"/>
        <result column="pre_ranking" property="preRanking"/>
        <result column="ranking" property="ranking"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="selectAllDataLeagueRankClubGuest" resultMap="dataLeagueRankClubGuestMap">
        	SELECT
        	*
        	FROM
        	data_league_rank_club_guest
    </select>
    <select id="selectDataLeagueRankClubGuestById" resultMap="dataLeagueRankClubGuestMap">
        	SELECT
        	*
        	FROM
        	data_league_rank_club_guest
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertDataLeagueRankClubGuest" parameterType="dataLeagueRankClubGuest">
        	INSERT INTO
        	data_league_rank_club_guest
        	(
        	data_league_rank_club_guest.id , data_league_rank_club_guest.league_id , data_league_rank_club_guest.league_sub_id , data_league_rank_club_guest.club_id , data_league_rank_club_guest.club_history_id , data_league_rank_club_guest.round , data_league_rank_club_guest.wins , data_league_rank_club_guest.ties , data_league_rank_club_guest.loses , data_league_rank_club_guest.goals , data_league_rank_club_guest.goals_a , data_league_rank_club_guest.goals_d , data_league_rank_club_guest.points , data_league_rank_club_guest.year , data_league_rank_club_guest.end_year , data_league_rank_club_guest.display_order , data_league_rank_club_guest.ranking_status , data_league_rank_club_guest.pre_ranking , data_league_rank_club_guest.ranking , data_league_rank_club_guest.created_at , data_league_rank_club_guest.updated_at
        	)
        	VALUES
        	(
        	#{ id } , #{ leagueId } , #{ leagueSubId } , #{ clubId } , #{ clubHistoryId } , #{ round } , #{ wins } , #{ ties } , #{ loses } , #{ goals } , #{ goalsA } , #{ goalsD } , #{ points } , #{ year } , #{ endYear } , #{ displayOrder } , #{ rankingStatus } , #{ preRanking } , #{ ranking } , #{ createdAt } , #{ updatedAt }
        	)
    </insert>
    <update id="updateDataLeagueRankClubGuest" parameterType="dataLeagueRankClubGuest">
        	UPDATE
        	data_league_rank_club_guest
        	SET
        	<if test="leagueId != null">
        	data_league_rank_club_guest.LeagueId = #{ leagueId },
        	</if>	<if test="leagueSubId != null">
        	data_league_rank_club_guest.LeagueSubId = #{ leagueSubId },
        	</if>	<if test="clubId != null">
        	data_league_rank_club_guest.ClubId = #{ clubId },
        	</if>	<if test="clubHistoryId != null">
        	data_league_rank_club_guest.ClubHistoryId = #{ clubHistoryId },
        	</if>	<if test="round != null">
        	data_league_rank_club_guest.Round = #{ round },
        	</if>	<if test="wins != null">
        	data_league_rank_club_guest.Wins = #{ wins },
        	</if>	<if test="ties != null">
        	data_league_rank_club_guest.Ties = #{ ties },
        	</if>	<if test="loses != null">
        	data_league_rank_club_guest.Loses = #{ loses },
        	</if>	<if test="goals != null">
        	data_league_rank_club_guest.Goals = #{ goals },
        	</if>	<if test="goalsA != null">
        	data_league_rank_club_guest.GoalsA = #{ goalsA },
        	</if>	<if test="goalsD != null">
        	data_league_rank_club_guest.GoalsD = #{ goalsD },
        	</if>	<if test="points != null">
        	data_league_rank_club_guest.Points = #{ points },
        	</if>	<if test="year != null">
        	data_league_rank_club_guest.Year = #{ year },
        	</if>	<if test="endYear != null">
        	data_league_rank_club_guest.EndYear = #{ endYear },
        	</if>	<if test="displayOrder != null">
        	data_league_rank_club_guest.DisplayOrder = #{ displayOrder },
        	</if>	<if test="rankingStatus != null">
        	data_league_rank_club_guest.RankingStatus = #{ rankingStatus },
        	</if>	<if test="preRanking != null">
        	data_league_rank_club_guest.PreRanking = #{ preRanking },
        	</if>	<if test="ranking != null">
        	data_league_rank_club_guest.Ranking = #{ ranking },
        	</if>	<if test="createdAt != null">
        	data_league_rank_club_guest.CreatedAt = #{ createdAt },
        	</if>	<if test="updatedAt != null">
        	data_league_rank_club_guest.UpdatedAt = #{ updatedAt }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteDataLeagueRankClubGuestById">
        	DELETE FROM
        	data_league_rank_club_guest
        	WHERE
        	id=#{0}
    </delete>
</mapper>

