<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataLeagueRankClubMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataLeagueRankClub" id="dataLeagueRankClubMap">
        <id column="id" property="id"/>
        <result column="league_id" property="leagueId"/>
        <result column="league_sub_id" property="leagueSubId"/>
        <result column="grouping" property="grouping"/>
        <result column="club_id" property="clubId"/>
        <result column="club_history_id" property="clubHistoryId"/>
        <result column="round" property="round"/>
        <result column="wins" property="wins"/>
        <result column="ties" property="ties"/>
        <result column="loses" property="loses"/>
        <result column="goals" property="goals"/>
        <result column="goals_a" property="goalsA"/>
        <result column="goals_d" property="goalsD"/>
        <result column="points" property="points"/>
        <result column="year" property="year"/>
        <result column="end_year" property="endYear"/>
        <result column="pre_ranking" property="preRanking"/>
        <result column="ranking" property="ranking"/>
        <result column="ranking_status" property="rankingStatus"/>
        <result column="display_order" property="displayOrder"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="selectAllDataLeagueRankClub" resultMap="dataLeagueRankClubMap">
        	SELECT
        	*
        	FROM
        	data_league_rank_club
    </select>
    <select id="selectDataLeagueRankClubById" resultMap="dataLeagueRankClubMap">
        	SELECT
        	*
        	FROM
        	data_league_rank_club
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertDataLeagueRankClub" parameterType="dataLeagueRankClub">
        	INSERT INTO
        	data_league_rank_club
        	(
        	data_league_rank_club.id , data_league_rank_club.league_id , data_league_rank_club.league_sub_id , data_league_rank_club.grouping , data_league_rank_club.club_id , data_league_rank_club.club_history_id , data_league_rank_club.round , data_league_rank_club.wins , data_league_rank_club.ties , data_league_rank_club.loses , data_league_rank_club.goals , data_league_rank_club.goals_a , data_league_rank_club.goals_d , data_league_rank_club.points , data_league_rank_club.year , data_league_rank_club.end_year , data_league_rank_club.pre_ranking , data_league_rank_club.ranking , data_league_rank_club.ranking_status , data_league_rank_club.display_order , data_league_rank_club.created_at , data_league_rank_club.updated_at
        	)
        	VALUES
        	(
        	#{ id } , #{ leagueId } , #{ leagueSubId } , #{ grouping } , #{ clubId } , #{ clubHistoryId } , #{ round } , #{ wins } , #{ ties } , #{ loses } , #{ goals } , #{ goalsA } , #{ goalsD } , #{ points } , #{ year } , #{ endYear } , #{ preRanking } , #{ ranking } , #{ rankingStatus } , #{ displayOrder } , #{ createdAt } , #{ updatedAt }
        	)
    </insert>
    <update id="updateDataLeagueRankClub" parameterType="dataLeagueRankClub">
        	UPDATE
        	data_league_rank_club
        	SET
        	<if test="leagueId != null">
        	data_league_rank_club.LeagueId = #{ leagueId },
        	</if>	<if test="leagueSubId != null">
        	data_league_rank_club.LeagueSubId = #{ leagueSubId },
        	</if>	<if test="grouping != null">
        	data_league_rank_club.Grouping = #{ grouping },
        	</if>	<if test="clubId != null">
        	data_league_rank_club.ClubId = #{ clubId },
        	</if>	<if test="clubHistoryId != null">
        	data_league_rank_club.ClubHistoryId = #{ clubHistoryId },
        	</if>	<if test="round != null">
        	data_league_rank_club.Round = #{ round },
        	</if>	<if test="wins != null">
        	data_league_rank_club.Wins = #{ wins },
        	</if>	<if test="ties != null">
        	data_league_rank_club.Ties = #{ ties },
        	</if>	<if test="loses != null">
        	data_league_rank_club.Loses = #{ loses },
        	</if>	<if test="goals != null">
        	data_league_rank_club.Goals = #{ goals },
        	</if>	<if test="goalsA != null">
        	data_league_rank_club.GoalsA = #{ goalsA },
        	</if>	<if test="goalsD != null">
        	data_league_rank_club.GoalsD = #{ goalsD },
        	</if>	<if test="points != null">
        	data_league_rank_club.Points = #{ points },
        	</if>	<if test="year != null">
        	data_league_rank_club.Year = #{ year },
        	</if>	<if test="endYear != null">
        	data_league_rank_club.EndYear = #{ endYear },
        	</if>	<if test="preRanking != null">
        	data_league_rank_club.PreRanking = #{ preRanking },
        	</if>	<if test="ranking != null">
        	data_league_rank_club.Ranking = #{ ranking },
        	</if>	<if test="rankingStatus != null">
        	data_league_rank_club.RankingStatus = #{ rankingStatus },
        	</if>	<if test="displayOrder != null">
        	data_league_rank_club.DisplayOrder = #{ displayOrder },
        	</if>	<if test="createdAt != null">
        	data_league_rank_club.CreatedAt = #{ createdAt },
        	</if>	<if test="updatedAt != null">
        	data_league_rank_club.UpdatedAt = #{ updatedAt }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteDataLeagueRankClubById">
        	DELETE FROM
        	data_league_rank_club
        	WHERE
        	id=#{0}
    </delete>
</mapper>

