<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataJudgeReMatchMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataJudgeReMatch" id="dataJudgeReMatchMap">
        <id column="id" property="id"/>
        <result column="judge_id" property="judgeId"/>
        <result column="match_id" property="matchId"/>
        <result column="judge_type_id" property="judgeTypeId"/>
        <result column="avatar" property="avatar"/>
        <result column="cir_avatar" property="cirAvatar"/>
        <result column="info_avatar" property="infoAvatar"/>
        <result column="full_avatar" property="fullAvatar"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="selectAllDataJudgeReMatch" resultMap="dataJudgeReMatchMap">
        	SELECT
        	*
        	FROM
        	data_judge_re_match
    </select>
    <select id="selectDataJudgeReMatchById" resultMap="dataJudgeReMatchMap">
        	SELECT
        	*
        	FROM
        	data_judge_re_match
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertDataJudgeReMatch" parameterType="dataJudgeReMatch">
        	INSERT INTO
        	data_judge_re_match
        	(
        	data_judge_re_match.id , data_judge_re_match.judge_id , data_judge_re_match.match_id , data_judge_re_match.judge_type_id , data_judge_re_match.avatar , data_judge_re_match.cir_avatar , data_judge_re_match.info_avatar , data_judge_re_match.full_avatar , data_judge_re_match.created_at , data_judge_re_match.updated_at
        	)
        	VALUES
        	(
        	#{ id } , #{ judgeId } , #{ matchId } , #{ judgeTypeId } , #{ avatar } , #{ cirAvatar } , #{ infoAvatar } , #{ fullAvatar } , #{ createdAt } , #{ updatedAt }
        	)
    </insert>
    <update id="updateDataJudgeReMatch" parameterType="dataJudgeReMatch">
        	UPDATE
        	data_judge_re_match
        	SET
        	<if test="judgeId != null">
        	data_judge_re_match.JudgeId = #{ judgeId },
        	</if>	<if test="matchId != null">
        	data_judge_re_match.MatchId = #{ matchId },
        	</if>	<if test="judgeTypeId != null">
        	data_judge_re_match.JudgeTypeId = #{ judgeTypeId },
        	</if>	<if test="avatar != null">
        	data_judge_re_match.Avatar = #{ avatar },
        	</if>	<if test="cirAvatar != null">
        	data_judge_re_match.CirAvatar = #{ cirAvatar },
        	</if>	<if test="infoAvatar != null">
        	data_judge_re_match.InfoAvatar = #{ infoAvatar },
        	</if>	<if test="fullAvatar != null">
        	data_judge_re_match.FullAvatar = #{ fullAvatar },
        	</if>	<if test="createdAt != null">
        	data_judge_re_match.CreatedAt = #{ createdAt },
        	</if>	<if test="updatedAt != null">
        	data_judge_re_match.UpdatedAt = #{ updatedAt }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteDataJudgeReMatchById">
        	DELETE FROM
        	data_judge_re_match
        	WHERE
        	id=#{0}
    </delete>
</mapper>

