<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataPlayerIdMappedMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataPlayerIdMapped" id="dataPlayerIdMappedMap">
        <id column="id" property="id"/>
        <result column="player_id" property="playerId"/>
        <result column="amisco_player_id" property="amiscoPlayerId"/>
        <result column="club_id" property="clubId"/>
        <result column="year" property="year"/>
    </resultMap>
    <select id="selectAllDataPlayerIdMapped" resultMap="dataPlayerIdMappedMap">
        	SELECT
        	*
        	FROM
        	data_player_id_mapped
    </select>
    <select id="selectDataPlayerIdMappedById" resultMap="dataPlayerIdMappedMap">
        	SELECT
        	*
        	FROM
        	data_player_id_mapped
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertDataPlayerIdMapped" parameterType="dataPlayerIdMapped">
        	INSERT INTO
        	data_player_id_mapped
        	(
        	data_player_id_mapped.id , data_player_id_mapped.player_id , data_player_id_mapped.amisco_player_id , data_player_id_mapped.club_id , data_player_id_mapped.year
        	)
        	VALUES
        	(
        	#{ id } , #{ playerId } , #{ amiscoPlayerId } , #{ clubId } , #{ year }
        	)
    </insert>
    <update id="updateDataPlayerIdMapped" parameterType="dataPlayerIdMapped">
        	UPDATE
        	data_player_id_mapped
        	SET
        	<if test="playerId != null">
        	data_player_id_mapped.PlayerId = #{ playerId },
        	</if>	<if test="amiscoPlayerId != null">
        	data_player_id_mapped.AmiscoPlayerId = #{ amiscoPlayerId },
        	</if>	<if test="clubId != null">
        	data_player_id_mapped.ClubId = #{ clubId },
        	</if>	<if test="year != null">
        	data_player_id_mapped.Year = #{ year }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteDataPlayerIdMappedById">
        	DELETE FROM
        	data_player_id_mapped
        	WHERE
        	id=#{0}
    </delete>
</mapper>

