<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataCoachMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataCoach" id="dataCoachMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="english_name" property="englishName"/>
        <result column="country" property="country"/>
        <result column="native_place" property="nativePlace"/>
        <result column="birth" property="birth"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="selectAllDataCoach" resultMap="dataCoachMap">
        	SELECT
        	*
        	FROM
        	data_coach
    </select>
    <select id="selectDataCoachById" resultMap="dataCoachMap">
        	SELECT
        	*
        	FROM
        	data_coach
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertDataCoach" parameterType="dataCoach">
        	INSERT INTO
        	data_coach
        	(
        	data_coach.id , data_coach.name , data_coach.english_name , data_coach.country , data_coach.native_place , data_coach.birth , data_coach.created_at , data_coach.updated_at
        	)
        	VALUES
        	(
        	#{ id } , #{ name } , #{ englishName } , #{ country } , #{ nativePlace } , #{ birth } , #{ createdAt } , #{ updatedAt }
        	)
    </insert>
    <update id="updateDataCoach" parameterType="dataCoach">
        	UPDATE
        	data_coach
        	SET
        	<if test="name != null">
        	data_coach.Name = #{ name },
        	</if>	<if test="englishName != null">
        	data_coach.EnglishName = #{ englishName },
        	</if>	<if test="country != null">
        	data_coach.Country = #{ country },
        	</if>	<if test="nativePlace != null">
        	data_coach.NativePlace = #{ nativePlace },
        	</if>	<if test="birth != null">
        	data_coach.Birth = #{ birth },
        	</if>	<if test="createdAt != null">
        	data_coach.CreatedAt = #{ createdAt },
        	</if>	<if test="updatedAt != null">
        	data_coach.UpdatedAt = #{ updatedAt }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteDataCoachById">
        	DELETE FROM
        	data_coach
        	WHERE
        	id=#{0}
    </delete>
</mapper>

