<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.DataLeagueRankGoalMapper">
    <resultMap type="com.ninehcom.transfer.entity.DataLeagueRankGoal" id="dataLeagueRankGoalMap">
        <id column="id" property="id"/>
        <result column="league_id" property="leagueId"/>
        <result column="club_id" property="clubId"/>
        <result column="club_history_id" property="clubHistoryId"/>
        <result column="player_id" property="playerId"/>
        <result column="goals" property="goals"/>
        <result column="pre_ranking" property="preRanking"/>
        <result column="ranking" property="ranking"/>
        <result column="year" property="year"/>
        <result column="end_year" property="endYear"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="selectAllDataLeagueRankGoal" resultMap="dataLeagueRankGoalMap">
        	SELECT
        	*
        	FROM
        	data_league_rank_goal
    </select>
    <select id="selectDataLeagueRankGoalById" resultMap="dataLeagueRankGoalMap">
        	SELECT
        	*
        	FROM
        	data_league_rank_goal
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertDataLeagueRankGoal" parameterType="dataLeagueRankGoal">
        	INSERT INTO
        	data_league_rank_goal
        	(
        	data_league_rank_goal.id , data_league_rank_goal.league_id , data_league_rank_goal.club_id , data_league_rank_goal.club_history_id , data_league_rank_goal.player_id , data_league_rank_goal.goals , data_league_rank_goal.pre_ranking , data_league_rank_goal.ranking , data_league_rank_goal.year , data_league_rank_goal.end_year , data_league_rank_goal.created_at , data_league_rank_goal.updated_at
        	)
        	VALUES
        	(
        	#{ id } , #{ leagueId } , #{ clubId } , #{ clubHistoryId } , #{ playerId } , #{ goals } , #{ preRanking } , #{ ranking } , #{ year } , #{ endYear } , #{ createdAt } , #{ updatedAt }
        	)
    </insert>
    <update id="updateDataLeagueRankGoal" parameterType="dataLeagueRankGoal">
        	UPDATE
        	data_league_rank_goal
        	SET
        	<if test="leagueId != null">
        	data_league_rank_goal.LeagueId = #{ leagueId },
        	</if>	<if test="clubId != null">
        	data_league_rank_goal.ClubId = #{ clubId },
        	</if>	<if test="clubHistoryId != null">
        	data_league_rank_goal.ClubHistoryId = #{ clubHistoryId },
        	</if>	<if test="playerId != null">
        	data_league_rank_goal.PlayerId = #{ playerId },
        	</if>	<if test="goals != null">
        	data_league_rank_goal.Goals = #{ goals },
        	</if>	<if test="preRanking != null">
        	data_league_rank_goal.PreRanking = #{ preRanking },
        	</if>	<if test="ranking != null">
        	data_league_rank_goal.Ranking = #{ ranking },
        	</if>	<if test="year != null">
        	data_league_rank_goal.Year = #{ year },
        	</if>	<if test="endYear != null">
        	data_league_rank_goal.EndYear = #{ endYear },
        	</if>	<if test="createdAt != null">
        	data_league_rank_goal.CreatedAt = #{ createdAt },
        	</if>	<if test="updatedAt != null">
        	data_league_rank_goal.UpdatedAt = #{ updatedAt }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteDataLeagueRankGoalById">
        	DELETE FROM
        	data_league_rank_goal
        	WHERE
        	id=#{0}
    </delete>
</mapper>

