<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.EventTypeMapper">
    <resultMap type="com.ninehcom.transfer.entity.EventType" id="eventTypeMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
    </resultMap>
    <select id="selectAllEventType" resultMap="eventTypeMap">
        	SELECT
        	*
        	FROM
        	event_type
    </select>
    <select id="selectEventTypeById" resultMap="eventTypeMap">
        	SELECT
        	*
        	FROM
        	event_type
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertEventType" parameterType="eventType">
        	INSERT INTO
        	event_type
        	(
        	event_type.id , event_type.name , event_type.icon
        	)
        	VALUES
        	(
        	#{ id } , #{ name } , #{ icon }
        	)
    </insert>
    <update id="updateEventType" parameterType="eventType">
        	UPDATE
        	event_type
        	SET
        	<if test="name != null">
        	event_type.Name = #{ name },
        	</if>	<if test="icon != null">
        	event_type.Icon = #{ icon }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteEventTypeById">
        	DELETE FROM
        	event_type
        	WHERE
        	id=#{0}
    </delete>
</mapper>

