<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.LeagueeventMapper">
    <resultMap type="com.ninehcom.transfer.entity.Leagueevent" id="leagueeventMap">
        <id column="Id" property="id"/>
        <result column="LeagueCalendarId" property="leagueCalendarId"/>
        <result column="LeagueTeamTypeId" property="leagueTeamTypeId"/>
        <result column="TeamId" property="teamId"/>
        <result column="LeagueEventTypeId" property="leagueEventTypeId"/>
        <result column="LeagueEventTypeName" property="leagueEventTypeName"/>
        <result column="LeagueEventTime" property="leagueEventTime"/>
        <result column="PlayerName" property="playerName"/>
        <result column="PlayerName2" property="playerName2"/>
        <result column="Years" property="years"/>
        <result column="CreateTime" property="createTime"/>
        <result column="UpdateTime" property="updateTime"/>
        <result column="Sort" property="sort"/>
    </resultMap>
    <select id="selectAllLeagueevent" resultMap="leagueeventMap">
        SELECT
        *
        FROM
        leagueevent
    </select>
    <select id="selectFilterLeagueevent" resultMap="leagueeventMap">
        SELECT
        leagueevent.*
        FROM
        leagueevent
        INNER JOIN leaguecalendar ON leagueevent.LeagueCalendarId = leaguecalendar.Id
        WHERE
        leaguecalendar.Years &lt; 2015 OR
        leaguecalendar.LeagueTypeId != 1
    </select>
    <select id="selectLeagueeventById" resultMap="leagueeventMap">
        SELECT
        *
        FROM
        leagueevent
        WHERE
        id=#{0}
    </select>
</mapper>

