<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.LeaguecalendarMapper">
    <resultMap type="com.ninehcom.transfer.entity.Leaguecalendar" id="leaguecalendarMap">
        <id column="Id" property="id"/>
        <result column="LeagueTypeId" property="leagueTypeId"/>
        <result column="LeagueTypeName" property="leagueTypeName"/>
        <result column="LeagueTypeId2" property="leagueTypeId2"/>
        <result column="LeagueTypeName2" property="leagueTypeName2"/>
        <result column="RoundsId" property="roundsId"/>
        <result column="RoundsName" property="roundsName"/>
        <result column="HomeTeamId" property="homeTeamId"/>
        <result column="HomeTeamHistoryId" property="homeTeamHistoryId"/>
        <result column="HomeTeamLogo" property="homeTeamLogo"/>
        <result column="HomeTeamName" property="homeTeamName"/>
        <result column="GuestTeamId" property="guestTeamId"/>
        <result column="GuestTeamHistoryId" property="guestTeamHistoryId"/>
        <result column="GuestTeamLogo" property="guestTeamLogo"/>
        <result column="GuestTeamName" property="guestTeamName"/>
        <result column="LeagueTime" property="leagueTime"/>
        <result column="LeagueCourt" property="leagueCourt"/>
        <result column="MasterScore" property="masterScore"/>
        <result column="GuestScore" property="guestScore"/>
        <result column="LeagueStateId" property="leagueStateId"/>
        <result column="LeagueStateName" property="leagueStateName"/>
        <result column="LineupLogo" property="lineupLogo"/>
        <result column="ExistLineup" property="existLineup"/>
        <result column="ExistLeagueData" property="existLeagueData"/>
        <result column="ExistLeagueEvent" property="existLeagueEvent"/>
        <result column="ExistLeagueVideo" property="existLeagueVideo"/>
        <result column="Years" property="years"/>
        <result column="CreateTime" property="createTime"/>
        <result column="UpdateTime" property="updateTime"/>
    </resultMap>
    <select id="selectAllLeaguecalendar" resultMap="leaguecalendarMap">
        SELECT
        *
        FROM
        leaguecalendar
    </select>
    <select id="selectFilterLeaguecalendar" resultMap="leaguecalendarMap">
        SELECT
        *
        FROM
        leaguecalendar
        WHERE
        leaguecalendar.Years &lt; 2015 OR
        leaguecalendar.LeagueTypeId != 1
    </select>
    <select id="selectLeaguecalendarById" resultMap="leaguecalendarMap">
        SELECT
        *
        FROM
        leaguecalendar
        WHERE
        id=#{0}
    </select>
</mapper>

