<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.LeagueTypeMapper">
    <resultMap type="com.ninehcom.transfer.entity.LeagueType" id="leagueTypeMap">
        <id column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="full_name" property="fullName"/>
        <result column="en_name" property="enName"/>
        <result column="en_full_name" property="enFullName"/>
        <result column="type" property="type"/>
        <result column="region" property="region"/>
        <result column="region_type" property="regionType"/>
        <result column="start_at" property="startAt"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="selectAllLeagueType" resultMap="leagueTypeMap">
        	SELECT
        	*
        	FROM
        	league_type
    </select>
    <select id="selectLeagueTypeById" resultMap="leagueTypeMap">
        	SELECT
        	*
        	FROM
        	league_type
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertLeagueType" parameterType="leagueType">
        	INSERT INTO
        	league_type
        	(
        	league_type.id , league_type.pid , league_type.name , league_type.full_name , league_type.en_name , league_type.en_full_name , league_type.type , league_type.region , league_type.region_type , league_type.start_at , league_type.created_at , league_type.updated_at
        	)
        	VALUES
        	(
        	#{ id } , #{ pid } , #{ name } , #{ fullName } , #{ enName } , #{ enFullName } , #{ type } , #{ region } , #{ regionType } , #{ startAt } , #{ createdAt } , #{ updatedAt }
        	)
    </insert>
    <update id="updateLeagueType" parameterType="leagueType">
        	UPDATE
        	league_type
        	SET
        	<if test="pid != null">
        	league_type.Pid = #{ pid },
        	</if>	<if test="name != null">
        	league_type.Name = #{ name },
        	</if>	<if test="fullName != null">
        	league_type.FullName = #{ fullName },
        	</if>	<if test="enName != null">
        	league_type.EnName = #{ enName },
        	</if>	<if test="enFullName != null">
        	league_type.EnFullName = #{ enFullName },
        	</if>	<if test="type != null">
        	league_type.Type = #{ type },
        	</if>	<if test="region != null">
        	league_type.Region = #{ region },
        	</if>	<if test="regionType != null">
        	league_type.RegionType = #{ regionType },
        	</if>	<if test="startAt != null">
        	league_type.StartAt = #{ startAt },
        	</if>	<if test="createdAt != null">
        	league_type.CreatedAt = #{ createdAt },
        	</if>	<if test="updatedAt != null">
        	league_type.UpdatedAt = #{ updatedAt }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteLeagueTypeById">
        	DELETE FROM
        	league_type
        	WHERE
        	id=#{0}
    </delete>
</mapper>

