<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.LeaguedataMapper">
    <resultMap type="com.ninehcom.transfer.entity.Leaguedata" id="leaguedataMap">
        <id column="Id" property="id"/>
        <result column="LeagueCalendarId" property="leagueCalendarId"/>
        <result column="LeagueTeamTypeId" property="leagueTeamTypeId"/>
        <result column="TeamId" property="teamId"/>
        <result column="ColorValue" property="colorValue"/>
        <result column="ShootTimes" property="shootTimes"/>
        <result column="ShootInTimes" property="shootInTimes"/>
        <result column="ShootOutTimes" property="shootOutTimes"/>
        <result column="HitTimes" property="hitTimes"/>
        <result column="PenaltyTimes" property="penaltyTimes"/>
        <result column="PassTimes" property="passTimes"/>
        <result column="StraightTimes" property="straightTimes"/>
        <result column="OffsideTimes" property="offsideTimes"/>
        <result column="StealTimes" property="stealTimes"/>
        <result column="FreeKickTimes" property="freeKickTimes"/>
        <result column="CornerTimes" property="cornerTimes"/>
        <result column="ThrowInTimes" property="throwInTimes"/>
        <result column="PassRate" property="passRate"/>
        <result column="PassCenterRate" property="passCenterRate"/>
        <result column="StealRate" property="stealRate"/>
        <result column="ControllRate" property="controllRate"/>
        <result column="FoulTimes" property="foulTimes"/>
        <result column="YellowTimes" property="yellowTimes"/>
        <result column="RedTimes" property="redTimes"/>
        <result column="HurtTimes" property="hurtTimes"/>
        <result column="Years" property="years"/>
        <result column="CreateTime" property="createTime"/>
        <result column="UpdateTime" property="updateTime"/>
    </resultMap>
    <select id="selectAllLeaguedata" resultMap="leaguedataMap">
        	SELECT
        	*
        	FROM
        	leaguedata
    </select>
    <select id="selectLeaguedataById" resultMap="leaguedataMap">
        	SELECT
        	*
        	FROM
        	leaguedata
        	WHERE
        	id=#{0}
    </select>
</mapper>

