<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.MatchVideoMapper">
    <resultMap type="com.ninehcom.transfer.entity.MatchVideo" id="matchVideoMap">
        <id column="id" property="id"/>
        <result column="club_id" property="clubId"/>
        <result column="match_id" property="matchId"/>
        <result column="logo" property="logo"/>
        <result column="title" property="title"/>
        <result column="url" property="url"/>
        <result column="public_time" property="publicTime"/>
        <result column="play_times" property="playTimes"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
    </resultMap>
    <select id="selectAllMatchVideo" resultMap="matchVideoMap">
        	SELECT
        	*
        	FROM
        	match_video
    </select>
    <select id="selectMatchVideoById" resultMap="matchVideoMap">
        	SELECT
        	*
        	FROM
        	match_video
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertMatchVideo" parameterType="matchVideo">
        	INSERT INTO
        	match_video
        	(
        	match_video.id , match_video.club_id , match_video.match_id , match_video.logo , match_video.title , match_video.url , match_video.public_time , match_video.play_times , match_video.create_at , match_video.update_at
        	)
        	VALUES
        	(
        	#{ id } , #{ clubId } , #{ matchId } , #{ logo } , #{ title } , #{ url } , #{ publicTime } , #{ playTimes } , #{ createAt } , #{ updateAt }
        	)
    </insert>
    <update id="updateMatchVideo" parameterType="matchVideo">
        	UPDATE
        	match_video
        	SET
        	<if test="clubId != null">
        	match_video.ClubId = #{ clubId },
        	</if>	<if test="matchId != null">
        	match_video.MatchId = #{ matchId },
        	</if>	<if test="logo != null">
        	match_video.Logo = #{ logo },
        	</if>	<if test="title != null">
        	match_video.Title = #{ title },
        	</if>	<if test="url != null">
        	match_video.Url = #{ url },
        	</if>	<if test="publicTime != null">
        	match_video.PublicTime = #{ publicTime },
        	</if>	<if test="playTimes != null">
        	match_video.PlayTimes = #{ playTimes },
        	</if>	<if test="createAt != null">
        	match_video.CreateAt = #{ createAt },
        	</if>	<if test="updateAt != null">
        	match_video.UpdateAt = #{ updateAt }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteMatchVideoById">
        	DELETE FROM
        	match_video
        	WHERE
        	id=#{0}
    </delete>
</mapper>

