<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.MatchMappingMapper">
    <resultMap type="com.ninehcom.transfer.entity.MatchMapping" id="matchMappingMap">
        <id column="club_match_id" property="clubMatchId"/>
        <result column="data_match_id" property="dataMatchId"/>
    </resultMap>
    <select id="selectAllMatchMapping" resultMap="matchMappingMap">
        	SELECT
        	*
        	FROM
        	match_mapping
    </select>
    <select id="selectMatchMappingById" resultMap="matchMappingMap">
        	SELECT
        	*
        	FROM
        	match_mapping
        	WHERE
        	club_match_id=#{0}
    </select>
    <insert id="insertMatchMapping" parameterType="matchMapping">
        	INSERT INTO
        	match_mapping
        	(
        	match_mapping.club_match_id , match_mapping.data_match_id
        	)
        	VALUES
        	(
        	#{ clubMatchId } , #{ dataMatchId }
        	)
    </insert>
    <update id="updateMatchMapping" parameterType="matchMapping">
        	UPDATE
        	match_mapping
        	SET
        	<if test="dataMatchId != null">
        	match_mapping.DataMatchId = #{ dataMatchId }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteMatchMappingById">
        	DELETE FROM
        	match_mapping
        	WHERE
        	id=#{0}
    </delete>
</mapper>

