<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.PlayerMappingMapper">
    <resultMap type="com.ninehcom.transfer.entity.PlayerMapping" id="playerMappingMap">
        <id column="club_player_id" property="clubPlayerId"/>
        <result column="data_player_id" property="dataPlayerId"/>
    </resultMap>
    <select id="selectAllPlayerMapping" resultMap="playerMappingMap">
        	SELECT
        	*
        	FROM
        	player_mapping
    </select>
    <select id="selectPlayerMappingById" resultMap="playerMappingMap">
        	SELECT
        	*
        	FROM
        	player_mapping
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertPlayerMapping" parameterType="playerMapping">
        	INSERT INTO
        	player_mapping
        	(
        	player_mapping.club_player_id , player_mapping.data_player_id
        	)
        	VALUES
        	(
        	#{ clubPlayerId } , #{ dataPlayerId }
        	)
    </insert>
    <update id="updatePlayerMapping" parameterType="playerMapping">
        	UPDATE
        	player_mapping
        	SET
        	<if test="dataPlayerId != null">
        	player_mapping.DataPlayerId = #{ dataPlayerId }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deletePlayerMappingById">
        	DELETE FROM
        	player_mapping
        	WHERE
        	id=#{0}
    </delete>
</mapper>

