<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.PlayerHistoryMappingMapper">
    <resultMap type="com.ninehcom.transfer.entity.PlayerHistoryMapping" id="playerHistoryMappingMap">
        <id column="player_history_id" property="playerHistoryId"/>
        <result column="player_re_club_id" property="playerReClubId"/>
    </resultMap>
    <select id="selectAllPlayerHistoryMapping" resultMap="playerHistoryMappingMap">
        SELECT
        *
        FROM
        player_history_mapping
    </select>
    <select id="selectPlayerHistoryMappingById" resultMap="playerHistoryMappingMap">
        SELECT
        *
        FROM
        player_history_mapping
        WHERE
        player_history_id=#{0}
    </select>
    <insert id="insertPlayerHistoryMapping" parameterType="playerHistoryMapping">
        INSERT INTO
        player_history_mapping
        (
        player_history_mapping.player_history_id , player_history_mapping.player_re_club_id
        )
        VALUES
        (
        #{ playerHistoryId } , #{ playerReClubId }
        )
    </insert>
    <update id="updatePlayerHistoryMapping" parameterType="playerHistoryMapping">
        UPDATE
        player_history_mapping
        SET
        <if test="playerReClubId != null">
            player_history_mapping.PlayerReClubId = #{ playerReClubId }
        </if>
        WHERE
        id= #{id}
    </update>
    <delete id="deletePlayerHistoryMappingById">
        DELETE FROM
        player_history_mapping
        WHERE
        id=#{0}
    </delete>
</mapper>

