<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.PlayerLineTypeMapper">
    <resultMap type="com.ninehcom.transfer.entity.PlayerLineType" id="playerLineTypeMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
    <select id="selectAllPlayerLineType" resultMap="playerLineTypeMap">
        	SELECT
        	*
        	FROM
        	player_line_type
    </select>
    <select id="selectPlayerLineTypeById" resultMap="playerLineTypeMap">
        	SELECT
        	*
        	FROM
        	player_line_type
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertPlayerLineType" parameterType="playerLineType">
        	INSERT INTO
        	player_line_type
        	(
        	player_line_type.id , player_line_type.name
        	)
        	VALUES
        	(
        	#{ id } , #{ name }
        	)
    </insert>
    <update id="updatePlayerLineType" parameterType="playerLineType">
        	UPDATE
        	player_line_type
        	SET
        	<if test="name != null">
        	player_line_type.Name = #{ name }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deletePlayerLineTypeById">
        	DELETE FROM
        	player_line_type
        	WHERE
        	id=#{0}
    </delete>
</mapper>

