<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.RoundsMapper">
    <resultMap type="com.ninehcom.transfer.entity.Rounds" id="roundsMap">
        <id column="Id" property="id"/>
        <result column="RoundsId" property="roundsId"/>
        <result column="Name" property="name"/>
        <result column="LeagueTypeId" property="leagueTypeId"/>
    </resultMap>
    <select id="selectAllRounds" resultMap="roundsMap">
        	SELECT
        	*
        	FROM
        	rounds
    </select>
    <select id="selectRoundsById" resultMap="roundsMap">
        	SELECT
        	*
        	FROM
        	rounds
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertRounds" parameterType="rounds">
        	INSERT INTO
        	rounds
        	(
        	rounds.Id , rounds.RoundsId , rounds.Name , rounds.LeagueTypeId
        	)
        	VALUES
        	(
        	#{ id } , #{ roundsId } , #{ name } , #{ leagueTypeId }
        	)
    </insert>
    <update id="updateRounds" parameterType="rounds">
        	UPDATE
        	rounds
        	SET
        	<if test="roundsId != null">
        	rounds.RoundsId = #{ roundsId },
        	</if>	<if test="name != null">
        	rounds.Name = #{ name },
        	</if>	<if test="leagueTypeId != null">
        	rounds.LeagueTypeId = #{ leagueTypeId }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteRoundsById">
        	DELETE FROM
        	rounds
        	WHERE
        	id=#{0}
    </delete>
</mapper>

