<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.ShootRankMapper">
    <resultMap type="com.ninehcom.transfer.entity.ShootRank" id="shootRankMap">
        <id column="id" property="id"/>
        <result column="player_id" property="playerId"/>
        <result column="player_name" property="playerName"/>
        <result column="player_english_name" property="playerEnglishName"/>
        <result column="country" property="country"/>
        <result column="native_place" property="nativePlace"/>
        <result column="birth" property="birth"/>
        <result column="goals" property="goals"/>
        <result column="pre_ranking" property="preRanking"/>
        <result column="ranking" property="ranking"/>
        <result column="year" property="year"/>
        <result column="end_year" property="endYear"/>
        <result column="club_id" property="clubId"/>
        <result column="club_name" property="clubName"/>
        <result column="club_english_name" property="clubEnglishName"/>
        <result column="club_full_name" property="clubFullName"/>
        <result column="club_english_full_name" property="clubEnglishFullName"/>
        <result column="club_logo" property="clubLogo"/>
    </resultMap>
    <select id="selectAllShootRank" resultMap="shootRankMap">
        	SELECT
        	*
        	FROM
        	shoot_rank
    </select>
    <select id="selectShootRankById" resultMap="shootRankMap">
        	SELECT
        	*
        	FROM
        	shoot_rank
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertShootRank" parameterType="shootRank">
        	INSERT INTO
        	shoot_rank
        	(
        	shoot_rank.id , shoot_rank.player_id , shoot_rank.player_name , shoot_rank.player_english_name , shoot_rank.country , shoot_rank.native_place , shoot_rank.birth , shoot_rank.goals , shoot_rank.pre_ranking , shoot_rank.ranking , shoot_rank.year , shoot_rank.end_year , shoot_rank.club_id , shoot_rank.club_name , shoot_rank.club_english_name , shoot_rank.club_full_name , shoot_rank.club_english_full_name , shoot_rank.club_logo
        	)
        	VALUES
        	(
        	#{ id } , #{ playerId } , #{ playerName } , #{ playerEnglishName } , #{ country } , #{ nativePlace } , #{ birth } , #{ goals } , #{ preRanking } , #{ ranking } , #{ year } , #{ endYear } , #{ clubId } , #{ clubName } , #{ clubEnglishName } , #{ clubFullName } , #{ clubEnglishFullName } , #{ clubLogo }
        	)
    </insert>
    <update id="updateShootRank" parameterType="shootRank">
        	UPDATE
        	shoot_rank
        	SET
        	<if test="playerId != null">
        	shoot_rank.PlayerId = #{ playerId },
        	</if>	<if test="playerName != null">
        	shoot_rank.PlayerName = #{ playerName },
        	</if>	<if test="playerEnglishName != null">
        	shoot_rank.PlayerEnglishName = #{ playerEnglishName },
        	</if>	<if test="country != null">
        	shoot_rank.Country = #{ country },
        	</if>	<if test="nativePlace != null">
        	shoot_rank.NativePlace = #{ nativePlace },
        	</if>	<if test="birth != null">
        	shoot_rank.Birth = #{ birth },
        	</if>	<if test="goals != null">
        	shoot_rank.Goals = #{ goals },
        	</if>	<if test="preRanking != null">
        	shoot_rank.PreRanking = #{ preRanking },
        	</if>	<if test="ranking != null">
        	shoot_rank.Ranking = #{ ranking },
        	</if>	<if test="year != null">
        	shoot_rank.Year = #{ year },
        	</if>	<if test="endYear != null">
        	shoot_rank.EndYear = #{ endYear },
        	</if>	<if test="clubId != null">
        	shoot_rank.ClubId = #{ clubId },
        	</if>	<if test="clubName != null">
        	shoot_rank.ClubName = #{ clubName },
        	</if>	<if test="clubEnglishName != null">
        	shoot_rank.ClubEnglishName = #{ clubEnglishName },
        	</if>	<if test="clubFullName != null">
        	shoot_rank.ClubFullName = #{ clubFullName },
        	</if>	<if test="clubEnglishFullName != null">
        	shoot_rank.ClubEnglishFullName = #{ clubEnglishFullName },
        	</if>	<if test="clubLogo != null">
        	shoot_rank.ClubLogo = #{ clubLogo }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteShootRankById">
        	DELETE FROM
        	shoot_rank
        	WHERE
        	id=#{0}
    </delete>
</mapper>

