<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.TeamMapper">
    <resultMap type="com.ninehcom.transfer.entity.Team" id="teamMap">
        <id column="Id" property="id"/>
        <result column="Name" property="name"/>
        <result column="CreateTime" property="createTime"/>
        <result column="UpdateTime" property="updateTime"/>
    </resultMap>
    <select id="selectAllTeam" resultMap="teamMap">
         SELECT
         *
         FROM
         team
    </select>
    <select id="selectTeamById" resultMap="teamMap">
         SELECT
         *
         FROM
         team
         WHERE
         ID=#{0}
    </select>
</mapper>

