<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.TranslogMapper">
    <resultMap type="com.ninehcom.transfer.entity.Translog" id="translogMap">
        <id column="id" property="id"/>
        <result column="time" property="time"/>
        <result column="operator" property="operator"/>
        <result column="source" property="source"/>
        <result column="destination" property="destination"/>
        <result column="source_count" property="sourceCount"/>
        <result column="destination_count" property="destinationCount"/>
        <result column="same_count" property="sameCount"/>
        <result column="mapping_count" property="mappingCount"/>
        <result column="source_diff" property="sourceDiff"/>
        <result column="destination_diff" property="destinationDiff"/>
        <result column="check" property="check"/>
        <result column="Err" property="err"/>
    </resultMap>
    <select id="selectAllTranslog" resultMap="translogMap">
        	SELECT
        	*
        	FROM
        	translog
    </select>
    <select id="selectTranslogById" resultMap="translogMap">
        	SELECT
        	*
        	FROM
        	translog
        	WHERE
        	ID=#{0}
    </select>
    <insert id="insertTranslog" parameterType="translog">
        	INSERT INTO
        	translog
        	(
        	translog.id , translog.time , translog.operator , translog.source , translog.destination , translog.source_count , translog.destination_count , translog.same_count , translog.mapping_count , translog.source_diff , translog.destination_diff , translog.check , translog.Err
        	)
        	VALUES
        	(
        	#{ id } , #{ time } , #{ operator } , #{ source } , #{ destination } , #{ sourceCount } , #{ destinationCount } , #{ sameCount } , #{ mappingCount } , #{ sourceDiff } , #{ destinationDiff } , #{ check } , #{ err }
        	)
    </insert>
    <update id="updateTranslog" parameterType="translog">
        	UPDATE
        	translog
        	SET
        	<if test="time != null">
        	translog.Time = #{ time },
        	</if>	<if test="operator != null">
        	translog.Operator = #{ operator },
        	</if>	<if test="source != null">
        	translog.Source = #{ source },
        	</if>	<if test="destination != null">
        	translog.Destination = #{ destination },
        	</if>	<if test="sourceCount != null">
        	translog.SourceCount = #{ sourceCount },
        	</if>	<if test="destinationCount != null">
        	translog.DestinationCount = #{ destinationCount },
        	</if>	<if test="sameCount != null">
        	translog.SameCount = #{ sameCount },
        	</if>	<if test="mappingCount != null">
        	translog.MappingCount = #{ mappingCount },
        	</if>	<if test="sourceDiff != null">
        	translog.SourceDiff = #{ sourceDiff },
        	</if>	<if test="destinationDiff != null">
        	translog.DestinationDiff = #{ destinationDiff },
        	</if>	<if test="check != null">
        	translog.Check = #{ check },
        	</if>	<if test="err != null">
        	translog.Err = #{ err }
        	</if>
        	WHERE
        	id= #{id}
    </update>
    <delete id="deleteTranslogById">
        	DELETE FROM
        	translog
        	WHERE
        	id=#{0}
    </delete>
</mapper>
