<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.transfer.mapper.UserPlayerRelationMapper">
    <resultMap type="com.ninehcom.transfer.entity.UserPlayerRelation" id="userPlayerRelationMap">
        <id column="UserId" property="userId"/>
        <result column="PlayID" property="playID"/>
        <result column="Type" property="type"/>
        <result column="Time" property="time"/>
    </resultMap>
    <select id="selectAllUserPlayerRelation" resultMap="userPlayerRelationMap">
        	SELECT
        	*
        	FROM
        	user_player_relation
    </select>
    <select id="selectUserPlayerRelationById" resultMap="userPlayerRelationMap">
        	SELECT
        	*
        	FROM
        	user_player_relation
        	WHERE
        	userid=#{0}
    </select>
    <update id="updateUserPlayerRelation" parameterType="userPlayerRelation">
        	UPDATE
        	user_player_relation
        	SET
        	<if test="playID != null">
        	user_player_relation.PlayID = #{ playID },
        	</if>	<if test="type != null">
        	user_player_relation.Type = #{ type },
        	</if>	<if test="time != null">
        	user_player_relation.Time = #{ time }
        	</if>
        	WHERE
        	id= #{id}
    </update>
</mapper>

